<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyesPower.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EyesPower.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Passworld" serializeAs="String">
                <value />
            </setting>
            <setting name="StartProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Customization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YesHelp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Program" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Training" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PassworldControl" serializeAs="String">
                <value />
            </setting>
            <setting name="StartControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraningQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControlWinloc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartProgramQuantity" serializeAs="String">
                <value>0</value>
            </setting>
        </EyesPower.Properties.Settings>
    </userSettings>
</configuration>